{% extends 'base.html' %}

{% set search = True %}

{% block content %}
            <style>
        body{background-color: #ffaaaa;}
    </style>
    <h1>Szerkesztés</h1>
    <a href="{{ url_for('create') }}" class="btn btn-secondary">Hozzáadás</a>

    <table class="table">
        <thead>
        <tr>
            <th>Név</th>
            <th>Ár</th>
            <th>Kép</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.nev}}</td>
                <td>
                    {{ recipe.ar }} {{ recipe.merte }}
                </td>
                <td>
                    <img src="{{ recipe.kep }}">
                </td>
                <td>
                    <a href="{{ url_for('editview', recipe_id=recipe.id) }}" class="btn btn-secondary">
                        Szerk.
                    </a>
                    <a href="{{ url_for('delete', recipe_id=recipe.id) }}" class="btn btn-secondary">
                        Törlés
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('create') }}" class="btn btn-secondary">Hozzáadás</a>

{% endblock %}